*{
    padding: 0;
    margin: 0;
}
.main{
    background-image: url(../img/blob-scene-haikei\ \(4\).svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;

}
.card2{
    margin-left: 700px; 
}
